<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirm your UpTask Account
        p You are almost Done! Please click the next button

        a(href=`${confirmUrl}`) Confirm Account
        p if you can not access to this link, please visit #{confirmUrl}
        //- p If you did request this e-mail, just ignore it 